#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mainPage{
    flex-grow:1;
}

.formulario {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
  }
.botonFormulario {
    box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.75); 
   
  }
  
 .formBackground{
  background: rgb(195,226,28);
background: radial-gradient(circle, rgba(195,226,28,0.8827906162464986) 0%, rgba(217,244,210,1) 100%);
 }